python-dotenv
loguru
fastapi
uvicorn
openai
requests
gspread
pypdf
langchain
langchain-openai
langchain-community
langchain-core
chromadb
pydantic
langgraph
google-auth
google-auth-oauthlib


