python-dotenv
loguru
fastapi
uvicorn
openai
requests
gspread
pypdf
langchain
langchain-openai
langchain-community
langchain-core
chromadb
streamlit
pydantic
langgraph
smtplib
google-auth
google-auth-oauthlib
